* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
main {
  width: 80%;
}
section {
  margin-bottom: 34px;
  font-family: "Merriweather", serif;
  padding-bottom: 34px;
  border-bottom: 1px solid rgb(25, 143, 127);
}
a {
  color: rgb(84, 173, 224);
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: rgb(25, 143, 127);
}
.title-name {
  margin: 24px 0;
  color: rgb(25, 143, 127);
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
 h3 {
   font-size: 16px;
 }
}
.contacts {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}
.about-text {
  font-size: 18px;
}
.e-block {
  h3 {
    margin-bottom: 24px;
  }
}
.e-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.dates {
  color: rgb(170, 176, 180);
}
.e-text {
  width: 60%;
  h4 {
    margin-bottom: 14px;
  }
}
.post {
  margin-bottom: 15px;
  font-size: 14px;
  color : rgba(#000000, .6);
}
.experience-block {
  h4 {
    margin: 0;
  }
}
.charge {
  ul {
    margin: 10px 0 0 20px;
  }
}
.lang-block .e-text{
  width:100%;
}
.skills {
  border: none;
}
@media screen and (max-width: 900px) {
  main {
    width: 95%;
  }
}
@media screen and (max-width: 780px) {
  .about-text {
    font-size: 16px;
  }
  .e-block {
    h3 {
      margin-bottom: 14px;
    }
  }
  .e-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 24px;
  }
  .dates {
    margin-bottom: 14px;
    color: black;
  }
  .e-text {
    width: 100%;
  }
}
